//COLORS
$color-primary-green: #7ed56f;
$color-primary-green-light: #55c57a;
$color-primary-green-dark: #28b485;

$color-secondary-orange-light: #ffb900;
$color-secondary-orange-dark: #ff7730;

$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;

$color-grey-dark: #777;
$color-grey-light-1: #f7f7f7;
$white: #ffffff;
$black: #000;

//GRID
$grid-with: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 8rem;
