/*ABSTRACT*/
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/variables';

/*BASE*/
@import 'base/base';
@import 'base/animations';
@import 'base/typography';
@import 'base/utilities';

/*COMPONENTS*/
@import 'components/button';

/*PAGES*/
@import 'pages/home';

/* HEADER */
.header {
    height: 95vh;
    background-image: 
        linear-gradient(to right bottom,
                      rgba($color-primary-green,.8),
                      rgba($color-primary-green-dark,.8)
                       ),
        url('../img/hero.jpg'); 
    background-size: cover;
    background-position: top; 

    /*Giving shape to the picture*/
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    /*To make  triangle 50% 0, 100% 100%, 0 100%
    https://bennettfeely.com/clippy/
    */
    position: relative;

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo  {
        height: 3.5rem;
    }
    
    &__text-box {
        position: absolute;
        top:40%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
}

.heading-primary {
    color: $white;
    text-transform: uppercase;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation-name: moveInleft;
        animation-duration: 1s;
        animation-timing-function: ease-out
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 1.74rem;
        animation: moveInRight 1s ease-out;
        backface-visibility: hidden;
    }
}

/*Media Queries*/
@media only screen and (max-width: 500px) {
    html {
        font-size: 30%;
    }

   .heading-primary--main {
        padding-left: 5%; 
   }
}