*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
     /* 80% of view port width which computes to
      font-size of 10.25px for my laptop screen */
}

body {
    box-sizing: border-box;
}